.signup-modal {
    width: 568px;
    height: 704px;
}

.signup-div {
    padding: 24px;
}

.matchname-message {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    color: rgb(113, 113, 113);
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
}

.birthdate-message {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    color: rgb(113, 113, 113);
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
}

.email-message {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    color: rgb(113, 113, 113);
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
}

.agree-message {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    color: rgb(113, 113, 113);
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
}

.firstname-input {
    font-size: 15px;
    border-radius: 8px 8px 0 0;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 100%;
    border: 1px solid #bababa;
    border-bottom: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-left: 10px;
    margin-top: -3px;
}

.firstname-input::placeholder{
    color: transparent;
}
.firstname-input:focus {
    outline-color: black;
    border-bottom: 1px solid black;
    z-index: 10;
}
.firstname-input:focus::placeholder{
    color: #717171f9;
}

.lastname-input {
    font-size: 16px;
    border-radius: 0 0 8px 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 100%;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-left: 10px;
}

.lastname-input::placeholder{
    color: transparent;
}
.lastname-input:focus {
    outline-color: black;
}
.lastname-input:focus::placeholder{
    color: #717171f9;
}

.birthdate-input {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 100%;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-left: 10px;
}

.birthdate-input::placeholder{
    color: transparent;
}
.birthdate-input:focus {
    outline-color: black;
}
.birthdate-input:focus::placeholder{
    color: #717171f9;
}

.input-div {
    font-size: 16px;
    font-weight: 400;
    color: rgb(34, 34, 34);
    width: 506px;
    height: 56px;
}

.signup-modal button {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    font-size: 16px;
    margin-top: 16px;
    height: 48px;
    font-weight: bold;
    width: 520px;
    border:none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}


input:focus ~ .fn-floating-label,
input:not(:focus):valid ~ .fn-floating-label{
  top: 153px;
  bottom: 10px;
  left: 41.5px;
  font-size: 11px;
  opacity: 1;
}
.fn-floating-label {
  position: absolute;
  pointer-events: none;
  left: 41px;
  top: 163px;
  color: #717171;
  transition: 0.2s ease all;
  font-size: 18px;
  font-weight: 350;
}

#ps-input-div {
    width: 100%;
}