.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation__next2-button {
    display: none;
}

.calendar-container {
    width: 338px;
    /* height: 350px; */
}

.react-calendar {
    border: none !important;
    font-size: 16px !important;
    width: 800px !important;
}

.react-calendar__tile:hover {
    background-color: none !important;
    background: none !important;
    border: 1px solid black;
    border-radius: 50%;
    aspect-ratio: 1;
    /* margin: -1px !important; */
    padding-right: 5px;
    color: #222222;
}

.react-calendar__tile--now {
    background: none !important;
    /* color: white; */
    /* border-radius: 50%; */
    /* aspect-ratio: 1; */
}


.react-calendar__tile--hover {
    background: rgb(247, 247, 247) !important;
}


.react-calendar__tile--active {
    background: rgb(247, 247, 247) !important;
    color: black !important;
    aspect-ratio: 1;
    font-weight: 700;
}

.react-calendar__month-view__days__day {
    aspect-ratio: 1;
}

.react-calendar__month-view__days {
    display: flex;
    justify-content: space-evenly;
}

.react-calendar__tile--range {
    /* background: blue !important; */
    border-radius: none !important;
}

.react-calendar__tile--rangeStart {
    background: #222222 !important;
    color: white !important;
    border-radius: 50%;
}
.react-calendar__tile--rangeStart:hover {
    color: #222222 !important;
    font-weight: 550;
}

.react-calendar__tile--rangeEnd {
    background: #222222 !important;
    color: white !important;
    border-radius: 50%;
}
.react-calendar__tile--rangeEnd:hover {
    color: #222222 !important;
    font-weight: 550;
}

.react-calendar__month-view__weekdays__weekday {
    text-transform: none !important;
    color: rgb(54, 97, 97);
}

.react-calendar__navigation__label__labelText {
    font-size: 15.5px;
    font-weight: 550;
    color: #222222;
}

abbr {
    text-decoration: none !important;
}

