.listing-floating-panel {
    width: 33%;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    position: sticky;
    top: 128px;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 48px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    max-width: 372.33px;
    max-height: 541px;
    min-height: 494px;
    height: 494px;
    color: #222222;
}

.floating-box-border {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 90.4%;
}

.floating-box-price-review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.floating-box-price {
    font-size: 22px;
    font-weight: 500;
}

.floating-dates {
    display: flex;
    width: 100%;
    height: 56px;
}

.floating-start-date {
    width: 50%;
    border: 1px solid rgb(176, 176, 176);
    border-top-left-radius: 8px;
    text-indent: 7px;
    z-index: 1;
    position: relative;
    padding-top: 8px;
    font-size: 14.5px;
}
.floating-end-date {
    width: 50%;
    border: 1px solid rgb(176, 176, 176);
    border-left: none;
    border-top-right-radius: 8px;
    text-indent: 7px;
    padding-top: 8px;
    position: relative;
    z-index: 5;
    font-size: 14.5px;
}
.floating-start-date:focus {
    border-radius: 8px;
}
.floating-end-date:focus {
    border-radius: 8px;
}

.floating-box-guests {
    height: 56px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgb(176, 176, 176);
    border-top: none;
    font-size: 15px;
    /* text-indent: calc(23% - 40px); */
    text-indent: 7px;
    padding-top: 10px;
}

.float-checkout {
    left: 50%;
    position: absolute;
    z-index: 6;
}

.floating-box-guests:focus {
    border-radius: 8px;
    position: relative;
    z-index: 10;
}

.floatbox-guests-span {
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    margin-left: 12px;
    margin-top: 10px;
    z-index: 6;
}

.floating-box-button {
    margin-top: 15px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: rgb(255, 255, 255);
    font-size: 15.5px;
    font-weight: 550;
    letter-spacing: .3px;
    cursor: pointer;
}

.floating-box-charge {
    align-self: center;
    margin-top: 18px;
    font-size: 15px;
}

#floating-price-night {
    font-size: 16.5px;
    font-weight: 400;
}

.floating-box-review {
    font-size: 14.5px;
    color: #717171;
    text-decoration: underline;
    font-weight: 495;
    cursor: pointer;
    font-weight: 500;
    padding-top: 7px;
}

.float-box-tag {
    color: #717171;
}

.floating-box-nights {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.floating-box-nights div:first-child {
    text-decoration: underline;
    font-size: 16.5px;
}


.floating-box-cleaning {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.floating-box-cleaning>div:first-child {
    text-decoration: underline;
    font-size: 16.5px;
}

.floating-box-service {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 4px;
}
.floating-box-service>div:first-child {
    text-decoration: underline;
    font-size: 16.5px;
}

#float-divider {
    margin: 24px 0;
    background-color: rgb(221, 221, 221);
    height: 1px;
}

.float-total {
    display: flex;
    justify-content: space-between;
    font-size: 16.5px;
    font-weight: 600;
}

.float-total div:last-child {
    font-size: 16.4px;
}