.listing-show {
    width: 86.32vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #222222;
    max-width: 1120px;
    justify-self: center;
}

.new-listing-title {
    font-size: 15px;
    margin-top: 2px;
}

.body {
    overflow: hidden;
    display: flex;
    color: #222222;
}

#root {
    display: flex;
    flex-direction: column;
}

.show-map {
    /* width: 86.32%;    */
    height: 480px;
    max-width: 1120px;
    min-width: 650px;
}

.listing-show-visuals {
    padding-top: 24px;
    max-width: 1120px;
    min-width: 650px;
    display: flex;
    /* width: 86.32%; */
    /* height: 100%; */
    /* align-self: center; */
    justify-content: space-between;
    aspect-ratio: 2/1;
}

.first-col-photo {
    height: 100%;
    width: 50%;
}
.first-col-photo img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.second-col-photos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.third-col-photos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
    align-items: flex-end;
}
.third-col-photos img:first-child  {
    border-top-right-radius: 12px;
}
.third-col-photos  img:last-child {
    border-bottom-right-radius: 12px;
}

.listing-show-image-main {

    height: 100%;
    width: 98.9%;
    object-fit: cover;
    aspect-ratio: 1;
}

.listing-show-image {
    height: 49.25%;
    width: 97.8%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1;
}

.listing-show-visuals .main {
    height: 100%;
    width: 97.8%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1;
}

.listing-show-header {
    width: 100%;
    max-width: 1120px;
    min-width: 650px;
    display: flex;
    /* width: 86.32%; */
    align-self: center;
    flex-direction: column;
    padding-top: 24px;
    justify-content: center;
}

.listing-show-header h1 {
    font-size: 26.5px;
    font-weight: 500;
    letter-spacing: +0.3px;
    line-height: 15px;
    height: 27px;
    padding-top: 7px;
    font-family: circular-bold;
}

.show-info-reviews {
    font-weight: 500;
    text-decoration: underline;
}

.show-header-info {
    font-size: 14px;
    height: 24px;
    display: flex;
    align-items:flex-end;
    padding-top: 3px;
    padding-bottom: 6px;
}
.svg-star {
    margin-right: 5px;
    margin-bottom: 1px;
}
.show-header-info span:last-child {
    text-decoration: underline;
    font-weight: 500;
}
.divider-dot {
    padding-left: 8px;
    padding-right: 8px;
    color: #717171;
}

.showpage-divider {
    border-bottom: 1px solid #EAEAEA;
}

.listing-details {
    font-size: 16px;
    width: 54%;
}

.listing-detail-header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 48px 0 24px;
}


.listing-detail-specs h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.listing-detail-specs span {
    font-size: 16.8px;
    font-family: circular-light;
    letter-spacing: 0.2px;
}

.hosted-dot {
    padding: 0 5px 0 5px;
}

.owner-avatar {
    height: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.listing-features span:first-child{
    font-weight: 500;
}
.listing-show-section{
    margin-bottom: 30px;
}

@media (max-width: 1127px) {
    .listing-show {
        width: 90.5vw;
    }
}

#github-help {
    font-weight: 400;
}
