.listing-show {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.body {
    overflow: hidden;
}

.map-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.show-map {
    width: 86.32%;   
    height: 500px;
    max-width: 1120px;
    min-width: 650px;
}

.listing-show-visuals {
    max-width: 1120px;
    min-width: 650px;
    display: flex;
    width: 86.32%;
    align-self: center;
    aspect-ratio: 2/1;
}


.first-col-photo {
    height: 100%;
    width: 50%;
}
.second-col-photos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
}
.third-col-photos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
}
.listing-show-image-main {
    height: 100%;
    width: 98.5%;
    object-fit: cover;
    aspect-ratio: 1;
}

.listing-show-image {
    height: 49.3%;
    width: 96.9%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1;
}

.listing-show-header {
    width: 100%;
    max-width: 1120px;
    min-width: 650px;
    display: flex;
    width: 86.32%;
    align-self: center;
    flex-direction: column;
}

.listing-show-header h1 {
    font-size: 26px;
    padding-top: 24px;
}