.listing-index-page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
}

.listing-list-container {
    /* width: 95%; */
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.listing-box {
    justify-content: center;
    /* width: 100%; */
    /* min-width: 255px;
    max-width: 310px; */
    /* background-color: purple;
    border: 2px solid teal; */
}

.list-item {
    display: flex;
    /* background-color: orange;
    border: 1px solid black; */
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

.list-item-info {
    display: flex;
    margin: 30px 30px 30px 30px;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    display: block;
    flex-direction: column;
    /* background-color: blue;    */
    justify-content: center;
}

.listings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
}

.listing-image-box {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    
}

.listing-image {
    border-radius: 12px;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    object-fit: cover;
    aspect-ratio: 1054/1000;
}

.text-info-box {
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    justify-content: center;
    align-self: center;
}

.list-index-map-container {
    width: 1500px;
    min-width: 800px;
    max-width: 2000px;
}