.listing-index-page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    overflow-y: scroll;
    height: calc(100vh - 81px);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.listing-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.listing-box {
    cursor: pointer;
    width: 45%;
    aspect-ratio: 1053/1000;
    min-width: 50px;
    max-width: 414px;
    margin-bottom: 30px;
}


.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    min-width: 225px;
    flex-wrap: wrap;
}


.listings-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    justify-content: space-evenly;
    align-self: flex-start;
    width: 50vw;
    min-width: 50px;
    flex-wrap: wrap;
    max-width: 720px;
}

.listing-image-box {
    display: flex;
    justify-content: center;
}

.listing-image {
    object-fit: cover;
    object-position: 50% 50%;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/0.9;
    border: 0;
    border-radius: 12px;
}

.text-info-box {

    justify-content: center;
    align-self: center;
    margin-top: 15px;
}

.list-item-copy {
    font-weight: 500;
    overflow-x:hidden;
    height: 18px;
}

.top-info-field {

    overflow-y: hidden;
    margin-top: 5px;
    height: 18px;
    color: #717171;
    /* width: 85%; */
    position: relative;
    display: flex;
}
/* .top-info-field::after {
    content: '...';
    position: absolute;
    height: 17px;
    width: 17px;

    top: 0;
    right: 0;
} */

.description-dots{
    padding-left: 3px;
}

.bot-info-field {

    margin-top: 10px;
}

.list-index-map-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: auto;
    min-width: 0px;
    top: 81px;
    right: 0px;
}

.map {
    display: flex;
    width: 100%;
    height: 100%;
}

.filter-form {
    color: #222222;
    justify-content: center;
    z-index: 10;
    width: 100%;
}

.number-homes {
    align-self: center;
    padding-left: 5%;
    font-weight: 500;
    font-size: 15px;
}

.filter-top {

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 8px;

    width: 100%;
}

.filter-bot {
    height: 120px;
}

.filter-button {
    padding-right: 3.5%;
}

@media (max-width: 745px) {
    .listing-index-page {
        display: block;
        flex-direction: column-reverse;
    }
    
}


@media (max-width: 745px) {
    .listing-list-container {
        width: 100vw;
        padding-top: 25px;
        border-radius: 20px;

    }
}

@media (max-width: 745px) {
    .filter-button {
        display: none;
    }
}


@media (max-width: 745px) {
    .filter-top {
        height: 60px;
        margin-top: -10px;
        justify-content: center;
    }
}

.filter-form-knob {
    width: 40px;
    background-color: #D2D2D2;
    border-radius: 12px;
    height: 4px;
    color: transparent;
    margin-top: -12px;
    margin-bottom: 10px;
    z-index: 60;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}





@media (max-width: 745px) {
    .listings-list {
        width: 100vw;
        background-color: white;
    }
}

@media (max-width: 745px) {
    .listing-index-page {
        width: 100vw;
    }
}

@media (min-width: 721px) {
    .list-index-map-container {
        position: absolute;
        width: 100%;
        left: 721px;
    }
}

@media (max-width: 550px)  {
    .listing-box {
        width: 87.5%;
        max-width: 100%;
    }
}


/* @media (min-width: 746px) {
    .list-index-map-container {
        display: none;
    }
} */
@media (max-width:950px) {
    .list-index-map-container {
        display: none;
        width: 0px;
    }
}

@media (min-width: 746px) {
    .listings-list {
        width: 100vw;
    }
}

@media (max-width:950px) {
    .listings-list {
        width: 100vw;
    }
}

@media (min-width: 950px ) {
    .listings-list {
        width: 100%;
    }
}

@media (min-width: 746px ) {
    .listing-list-container {
        width: 100vw;
    }
}

@media (min-width: 950px ) {
    .listing-list-container {
        width: 58.9vw;
        max-width: 720px;
    }
}

@media(min-width: 746px) {
    .listings-list {
        max-width: none;
    }
}

@media (max-width: 745px) {
    .list-index-map-container {
        width: 100vw;
        height: 50vh;
        display: flex;
        position: relative;
        top: 0;
        left: 0px;
        margin-bottom: -10px;
    }
}

@media (min-width: 949px ) {
    .listing-index-page {
        justify-content: flex-end;
    }
}

@media (min-width: 949px) {
    .list-index-map-container {
        width: 100%;
        display: inline-block;
        position: sticky;
        top: 0px;
    }
}

@media (min-width: 949px) {
    .listings-list {
        width: 58.9vw;
        min-width: 561.6px;
        max-width: 720px;
    }
}

@media (max-width: 745px) {
    .number-homes {
        padding-left: 0;
    }
}

@media (max-width: 745px) {
    .mobile-overlap{
        display: absolute;
        height: 20px;
        width: 100%;
        z-index: 30;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -30px;
        background: white;
    }
}

@media (min-width: 745px) {
    .filter-form-knob {
        display: none;
    }
}

.list-item-beds {
    font-size: 16px;
    color: #717171;
}

.list-item-beds-container {
    margin-top: 5px;
}