.listing-index-page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    overflow-y: scroll;
    height: calc(100vh - 81px);
}

.listing-list-container {
    /* width: 95%; */
    /* background-color: yellow; */
    width: 50vw;
    justify-content: center;
    flex-direction: column;
    /* z-index: 600; */
    /* border: 1px solid black; */

}

.listing-box {
    justify-content: center;
    width: 100%;
    min-width: 316px;
    max-width: 370px;
    /* background-color: purple;
    border: 3px solid teal; */
}

.list-item {
    display: flex;
    /* background-color: orange; */
    /* border: 1px solid black; */
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}

.list-item-info {
    display: flex;
    margin: 0px 30px 35px 30px;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    display: block;
    flex-direction: column;
    /* background-color: blue;    */
    justify-content: center;
}

.listings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.listing-image-box {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    
}

.listing-image {
    border-radius: 12px;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    object-fit: cover;
    aspect-ratio: 1054/1000;
}

.text-info-box {
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    justify-content: center;
    align-self: center;
    margin-top: 15px;
}

.list-item-copy {
    font-weight: 500;
}

.top-info-field {
    margin-top: 5px;
}

.bot-info-field {
    margin-top: 10px;
}

.list-index-map-container {
    /* position: fixed; */
    /* width: 1500px; */
    /* min-width: 800px; */
    display: flex;
    min-width: 316px;
    max-width: 1000px;
    width: 70vw;
    height: 100%;
    /* position: fixed; */
    z-index: 3;
}

.map {
    display: flex;
    /* position: fixed; */
    /* display: fixed; */
    /* background: blue; */
    z-index: 3;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    /* min-width: 1440px; */
}

.filter-form {
    padding: 23px 42px 23px 30px;
    display: flex;
    justify-content: space-between;
}

.filter-button {
    cursor: pointer;
    /* background-color: blue; */
    height: 40px;
    width: 94.3px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* border: 1px solid #DDDDDD;
    border-radius: 12px; */
}

.filter-button button{
    padding: 7px 0;
    border: 1px solid #DDDDDD;
    background-color: transparent;
    width: 100%;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: space-evenly;
    color: #222222;
}

.filter-button span {
    width: 100%;
    font-weight: 550;
    margin-left: -13px;
}

@media (max-width: 947px) {
    .listing-index-page {
        display: block;
        flex-direction: column-reverse;
    }
}


@media (max-width: 947px) {
    .listing-list-container {
        width: 100vw;
    }
}

@media (max-width: 947px) {
    .list-index-map-container {
        width: 100vw;
        height: 500px;
    }
}
@media (max-width: 947px) {
    .map {
        width: 100vw;
    }
}
@media (max-width: 947px) {
    .filter-form {
        display: none;
    }
}
@media (max-width: 745px) {
    .list-item {
        width: 100vh;
    }
}
@media (max-width: 745px) {
    .list-item {
        width: 100vh;
    }
}