.listing-index-page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
}

.listing-list-container {
    /* width: 95%; */
    /* background-color: yellow; */
    width: 50vw;
    justify-content: center;
    flex-direction: column;
    /* z-index: 600; */
    /* border: 1px solid black; */
    overflow-y: scroll;
    height: calc(100vh - 80px);
}

.listing-box {
    justify-content: center;
    width: 100%;
    min-width: 316px;
    max-width: 370px;
    /* background-color: purple;
    border: 3px solid teal; */
}

.list-item {
    display: flex;
    /* background-color: orange;
    border: 1px solid black; */
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}

.list-item-info {
    display: flex;
    margin: 30px 30px 30px 30px;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    display: block;
    flex-direction: column;
    /* background-color: blue;    */
    justify-content: center;
}

.listings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 80%; */
}

.listing-image-box {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    
}

.listing-image {
    border-radius: 12px;
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    object-fit: cover;
    aspect-ratio: 1054/1000;
}

.text-info-box {
    width: 100%;
    min-width: 255px;
    max-width: 310px;
    justify-content: center;
    align-self: center;
    margin-top: 15px;
}

.list-item-copy {
    font-weight: 500;
}

.top-info-field {
    margin-top: 5px;
}

.bot-info-field {
    margin-top: 10px;
}

.list-index-map-container {
    /* width: 1500px; */
    height: calc(100vh - 80px);
    /* min-width: 800px; */
    min-width: 316px;
    max-width: 1440px;
    width: 70vw;
    /* position: fixed; */
    /* z-index: 3; */
}

.map {
    position: fixed;
    /* display: fixed; */
    background: blue;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 80px);
    bottom: 0;
    right: 0;
    min-width: 1440px;
}

.filter-form {
    margin-top: 30px;
}

@media (max-width: 800px) {
    .listing-index-page {
        flex-direction: column-reverse;
    }
}

@media (max-width: 400px) {
    .listing-list-container {
        width: 100vw;
    }
}

@media (max-width: 800px) {
    .listing-list-container {
        width: 100vw;
    }
}