header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 20px;
    min-height: 64px;
    font-weight: 700;
}

header .header-login {
    display: block;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    text-align: center;
    font-size: 1em;
}

.login-x-button {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    top: 21px;
    left: 24px;
    padding-left: 1px;
    color: rgb(34, 34, 34);
    line-height: 20px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.login-x-button:hover {
    background-color: rgb(246, 246, 246);
}

.login-modal h3 {
    font-size: 22px;
    line-height: 26px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.3em;
    margin-block-end: .9em;
    margin-inline-start: 24px;
    margin-inline-end: 0px;
}

.login-modal {
    height: 682px;
    width: 568px;
}

.login-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.login-modal form div {
    width: 90%;
}


.login-modal form button {
    display: block;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.email-input {
    height: 47px;
    font-size: 15px;
    border-radius: 8px 8px 0 0;
    padding-top: 13px;
    padding-left: 12px;
    margin-right: -6px;
    color: rgb(113, 113, 113);
    width: 97.22%;
    border: 1px solid #bababa;
    border-bottom: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.email-input::placeholder{
    color: transparent;
}
.email-input:focus {
    outline-color: #222222;
    border-bottom: 1px solid black;
}
.email-input:focus::placeholder{
    color: #717171f9;
}

.ps-input {
    font-size: 16px;
    height: 47px;
    border-radius: 0 0 8px 8px;
    padding-top: 13px;
    padding-left: 12px;
    margin-right: -6px;
    color: rgb(113, 113, 113);
    width: 97.22%;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.ps-input::placeholder{
    color: transparent;
}
.ps-input:focus {
    outline-color: #222222;
}
.ps-input:focus::placeholder{
    color: #717171f9;
}

input:focus ~ .email-floating-label,
input:not(:focus):valid ~ .email-floating-label{
  top: 153px;
  /* top: 144px; */
  bottom: 10px;
  left: 41.5px;
  font-size: 11px;
  opacity: 1;
}
.email-floating-label {
  position: absolute;
  pointer-events: none;
  left: 41px;
  top: 163px;
  /* top: 154px; */
  color: #717171;
  transition: 0.2s ease all;
  font-size: 18px;
  font-weight: 350;
}

input:focus ~ .ps-floating-label,
input:not(:focus):valid ~ .ps-floating-label{
  top: 215px;
  /* top: 206px; */
  bottom: 10px;
  left: 41.5px;
  font-size: 11px;
  opacity: 1;
}
.ps-floating-label {
    position: absolute;
    pointer-events: none;
    left: 41px;
    top: 225px;
    /* top:216px; */
    color: #717171;
    transition: 0.2s ease all;
    font-size: 18px;
    font-weight: 350;
}

.error-message {
    margin-top: 4px;
    font-size: 12px;
    color: darkred;
    margin-bottom: -4px;
}

.login-modal:has(.error-message) {
    height: 694px;
}

.login-message {
    font-weight: 400;
    font-size: 12.3px;
    color: rgb(34, 34, 34);
    margin-top: 8px;
}

.login-modal button {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    font-size: 16px;
    margin-top: 16px;
    height: 48px;
    font-weight: bold;
    width: 520px;
    border:none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.material-symbols-outlined {
    font-weight: 200;
}

.orline-divider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 25px;
}

.or-word {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.div-line-1 {
    content: "fdf";
    flex: 1 1;
    border-bottom: 1px solid #bababa;
    margin: auto;
    margin: 0 17px 0 30px;
}

.div-line-2 {
    content: "fdf";
    flex: 1 1;
    border-bottom: 1px solid #bababa;
    margin: auto;
    margin: 0 30px 0 17px;
}

.demo-buttons {
    -webkit-box-pack: justify;
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.demo-buttons>div:hover {
    border-color: #000000;
    background: #F7F7F7;
    color: #222222;
}

.demo-buttons>div{
    border: 1px solid #222222;
    border-radius: 8px;
    padding: 13px 23px;
    font-size: 14.5px;
    line-height: 20px;
    font-weight: 500;
    color: #222222;
    text-align: center;
    width: 82%;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.fa-facebook {
    color: #1876f1;
    font-size: 21px;
}

.fa-brands {
    font-size: 21px;
}

.google-icon {
    margin-left: -6px;
    height: 30px;
    width:30px;
    margin-top: -4px;
    margin-bottom: -5px;
}

.fa-apple {
    margin-left: 2px;
}

#mail-icon{
    margin-left: -3px;
}

.linkin-tag {
    display: block;
    width: 100%;
    height: 100%;
    color: #222222;
    font-weight: 600;
}

.logout-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: block;
    width: 100%;
    height: 100%;
    color: #222222;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 570px) {
    .login-modal {
        width: 100%;
    }
}

@media (max-width: 570px) {
    #modal-content {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .email-input {
        padding-left: 0;
        text-indent: 1.75em;
    }
}
@media (max-width: 570px) {
    .ps-input {
        padding-left: 0;
        text-indent: 1.75em;
    }
}
@media (max-width: 570px) {
    .demo-buttons>div {
        width: 76%;
    }
}

