.badge-icon {
    height: 24px;
    width: 24px;
}

.profile-container {
    color: #222222;
    margin: auto;
    margin-top: 48px;
    max-width: 1064px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    margin: 48px auto 32px;
    padding-left: 16px;
    padding-right: 16px;
    height: 100vh - 81px;
}

.profile-card {
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    width: 258px;
    display: block;
    height: 535px;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    min-width: 308px;
    height:609px;
}

.profile-card-header {
    display:flex;
    justify-content: center;
}

.profile-picture {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-top: 45px; */
}

.identity-box {
    display: flex;
    margin-top: 42px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
    flex-direction: column;
}

.identity-verified {
    padding-left: 8px;
    position: relative;
    font-size: 16.5px;
}

.badge-box {
    display: flex;
    line-height: 22px;
    margin-bottom: 16px;
}

.profile-box-divider {
    min-width: 260px;
    height: 1px;
    background: #EAEAEA;
    width: 100%;
}

.profile-box-subscript {
    font-size: 15px;
    line-height: 20px;
    color: rgb(34, 34, 34);
    margin-top: 14px;
}

.profile-box-subscript>a {
    font-weight: 500;
    color: rgb(34, 34, 34);
    text-decoration: underline;
}

.user-confirmed {
    font-size: 22px;
    font-weight: 500;
    margin-top: 34px;
    margin-bottom: 24px;
}

.confirmed-items {
    display: flex;
}

.confirmed-items > div {
    margin-left: 7px;
    font-size: 17.5px;
    padding-bottom: 20px;
}

.profile-right-container {
    display: flex;
    flex-direction: column;
    color: #222222;
    /* align-self: center; */
    width: 100%;
    height: 100%;
    padding-left: 72px;
}

.profile-card-padding {
    padding: 24px;
}

.profile-hello {
    font-size: 32px;
    font-weight: 500;
}

.joined-year {
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 14.5px;
    color: #717171;
}

.edit-profile-button {
    font-size: 14.4px;
    text-decoration: underline;
    font-weight: 500;
    padding-bottom: 55px;
    cursor: pointer;
    width: 75px;
}

.profile-about {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

.profile-location {
    margin-left: 10px;
    font-size: 16.4px;
    padding-bottom: 34px;
}

.profile-user-location {
    display: flex;
}

.user-review-count {
    font-size: 22.5px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-left: 10px;
    margin-top: -3px;
}

.review-count-container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.profile-review-header {
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
}

#update-photo {
    display: none;
}

.update-photo {
    margin-top: 8px;
    text-decoration: underline;
    font-size: 14.5px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.profile-cancel {
    cursor: pointer;
    margin-top: 5px;
}

.profile-submit {
    margin-top: 5px;
    cursor: pointer;
}

.profile-edit-form {
    position: absolute;
    background-color: white;
    border: 1px solid #DDDDDD;
    padding: 30px;
    border-radius: 12px;
    margin-top: 120px;
    z-index: 11;
}

.reservation-list {
    max-height: 415px;
    overflow-y: scroll;
}

.profile-listings {
    max-height: 415px;
    overflow-y: scroll;
}
