.profile-reservations {
    margin: 36px 0;;
}

.profile-reservations>h1 {
    font-size: 22.5px;
    font-weight: 500;
}

.res-item {
    height: 102px;
    margin-top: 36px;
    display: flex;
}

.res-image {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
}

.res-info {
    margin-left: 20px;
    line-height: 24px;
    width: 100%;
}

.res-title {
    font-weight: 500;
    height: 24px;
    overflow: hidden;
}
