.listing-specs {
    width: calc(100% - 2px);
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.listing-specs > div {
    width: 22.9%;
}

.listing-specs input {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.country-input {
    margin-right: -1px;
    border-right: 1px solid #BABABA;
}

.new-dropdown {
    display: flex;
    width: calc(100% - 1px);
    justify-content: space-between;
    height: 48px;
}

.new-dropdown select {
    font-size: 15px;
    height: 100%;
    color: rgb(113, 113, 113);
    width: 100%;
    text-align: center;
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    border-right: none;
    outline-color: #222222;
    position: relative;
    z-index: 2;
    /* font-weight: 100; */
}

.new-dropdown input {
    font-size: 15px;
    height: 100%;
    color: rgb(113, 113, 113);
    outline-color: #222222;
}

.new-dropdown > div {
    width: 30%;
}

.address-input {
    font-size: 15px;
    border-radius: 0 0 8px 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 36px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 11px;
    border-top: none;
}

.address-input::placeholder{
    color: transparent;
}
.address-input:focus {
    outline-color: #222222;
    position: static;
    z-index: 2;
    margin-top: 1px;
}
.address-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
input:focus ~ .address-floating-label,
input:not(:focus):valid ~ .address-floating-label{
  top: 197px;
  bottom: 10px;
  left: 37px;
  font-size: 11px;
  opacity: 1;
}
.address-floating-label {
  position: absolute;
  pointer-events: none;
  left: 37px;
  top: 207px;
  color: rgb(113, 113, 113);
  transition: 0.2s ease all;
  font-size: 15px;
  font-weight: 350;
}

.guests-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 48px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}

.guests-input::placeholder{
    color: transparent;
}
.guests-input:focus {
    outline-color: #222222;
}
.guests-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
select:focus ~ .guests-floating-label,
select:not(:focus):valid ~ .guests-floating-label{
    top: 257px;
    bottom: 10px;
    left: 37px;
    font-size: 11px;
    opacity: 1;
}
.guests-floating-label {
    position: absolute;
    pointer-events: none;
    left: 60px;
    top: 267px;
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}

.bedrooms-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 48px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}

.bedrooms-input::placeholder{
    color: transparent;
}
.bedrooms-input:focus {
    outline-color: #222222;
}
.bedrooms-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
select:focus ~ .bedrooms-floating-label,
select:not(:focus):valid ~ .bedrooms-floating-label{
    top: 257px;
    bottom: 10px;
    left: 169px;
    font-size: 11px;
    opacity: 1;
}
.bedrooms-floating-label {
    position: absolute;
    pointer-events: none;
    left: 182px;
    top: 267px;  
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}

.beds-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 48px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}

.beds-input::placeholder{
    color: transparent;
}
.beds-input:focus {
    outline-color: #222222;
}
.beds-input:focus::placeholder{
    color: rgb(113, 113, 113); 
}
select:focus ~ .beds-floating-label,
select:not(:focus):valid ~ .beds-floating-label{
    top: 257px;
    bottom: 10px;
    left: 304px;
    font-size: 11px;
    opacity: 1;
}
.beds-floating-label {
    position: absolute;
    pointer-events: none;
    left: 333px;
    top: 267px;  
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}



.bathrooms-input::placeholder{
    color: transparent;
}
.bathrooms-input:focus {
    outline-color: #222222;
}
.bathrooms-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
select:focus ~ .bathrooms-floating-label,
select:not(:focus):valid ~ .bathrooms-floating-label{
    top: 257px;
    bottom: 10px;
    left: 436px;
    font-size: 11px;
    opacity: 1;
}
.bathrooms-floating-label {
    position: absolute;
    pointer-events: none;
    left: 448px;
    top: 267px;  
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}

.bathrooms-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 48px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}


.new-price-input:focus {
    outline-color: #222222;
}
.new-price-input::placeholder {
    color: rgb(113, 113, 113);
}
.new-price-input:focus::placeholder{
    color: transparent;
}
input:focus ~ .price-floating-label,
input:not(:focus):valid ~ .price-floating-label{
    top: 422px;
    bottom: 10px;
    left: 110px;
    font-size: 17px;
    opacity: 1;
    color: rgb(113, 113, 113);
}
.price-floating-label {
    position: absolute;
    pointer-events: none;
    left: 120px;
    top: 422px;
    color: transparent;
    transition: 0.2s ease all;
    font-size: 17px;
    font-weight: 350;
}


input:focus ~ .night-floating-label,
input:not(:focus):valid ~ .night-floating-label{
  top: 422px;
  bottom: 10px;
  left: 173px;
  font-size: 17px;
  opacity: 1;
  color: rgb(113, 113, 113);
}
.night-floating-label {
  position: absolute;
  pointer-events: none;
  left: 163px;
  top: 422px;
  color: transparent;
  transition: 0.2s ease all;
  font-size: 17px;
  font-weight: 350;
}

.new-listing-description {
    margin-top: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.new-description {
    border: 1px solid #BABABA;
    border-radius: 8px;
    resize: none;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 0;
    padding: 10px;
    color: rgb(113, 113, 113);
    outline-color: #222222;
}

#new-listing-button {
    height: 36px;
    line-height: 36px;
    margin-top: 16px;
}

.new-checkboxes {
    color: rgb(113, 113, 113);
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.coord-price {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    width: 100%;
    height: 48px;
    margin-top: 26px;
}
.coord-input-div {
    display: flex;
    position: relative;
    width: 50%;
    color: rgb(113, 113, 113);
}
.price-input-div {
    width: 50%;
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 1px;
}

.lat-input {
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
    border: 1px solid #BABABA;
    width: 50%;
    text-align: center;
    outline-color: #222222;
    font-size: 14.5px;
    color:rgb(113, 113, 113);
    padding: 0 12px;
    padding-top: 10px;
    text-indent: 5px;
}

.lng-input {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 50%;
    border: 1px solid #BABABA;
    border-left: none;
    text-align: center;
    outline-color: #222222;
    font-size: 14.5px;
    color:rgb(113, 113, 113);
    padding: 0 12px;
    padding-top: 10px;
}
.lng-input:focus {
    margin-right: 1px;
}

.new-price-input {
    width: 100%;
    border-radius: 8px 0 0 8px;
    text-align: center;
    outline-color: #222222;
    border: 1px solid #BABABA;
    border-right: none;
    vertical-align: center;
    height: 100%;
    padding: 0;
    color: rgb(113, 113, 113);
    font-size: 15px;
}

.listing-minimap {
    height: 178px;
    width: 225px;
    /* margin-top: 8px; */
    /* margin-bottom: 14px; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-minimap>div:first-child {
    position: absolute;
    /* background-color: blue; */
    right: 50%;
    text-align: center;
    z-index: 200;
    font-size: 20px;
    margin-right: -9px;
}


.new-listing-top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#new-listing-modal{
    height: 100%;
}

.listing-preview {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 7px;
    /* justify-content: center; */
}

.listing-preview>img:first-child{
    height: 138px;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    margin: 3px;
    border-radius: 5px;
}

.preview-div {
    display: flex;
    /* flex-direction: column; */
    overflow: scroll;
    height: 145px;
    flex-wrap: wrap;
}

.listing-preview img{
    height: 65px;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    margin: 3px;
    border-radius: 5px;
}

.listing-image-upload {
    max-width: 55%;
}


.listing-image-input{ 
    position: relative;
    width: 285px;
}

.listing-image-input::file-selector-button {
    border: 1px solid #bababa;
    background: none;
    border-radius: 8px;
    color: transparent;
    padding: 6px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    width: 110px;
}

.listing-image-input::before {
    position: absolute;
    content: 'Upload photos';
    line-height: 27px;
    padding-left: 11px;
    padding-top: 1px;
}
.listing-image-input::after {
    position: absolute;
    content: '/ 5 Files.';
    line-height: 27px;
    padding-left: 11px;
    padding-top: 1px;
}

.lattext {
    position: absolute;
    left: 10px;
    top: 4px;
    font-size: 14px;
}
.lngtext {
    position: absolute;
    left: 140px;
    top: 4px;
    font-size: 14px;
}

@media (max-width: 570px) {
    .new-dropdown {
        width: calc(100% + 1px); 
    }
    .new-dropdown > div{
        width: 25% !important;
    }
    .firstname-signup {
        width: 100% !important;
    }
    .firstname-signup>input {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        text-indent: 11px;
    }
    .listing-edit-top2 {
        width: 100%;
    }
    .listing-edit-inputdiv {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
    .listing-edit-inputdiv > input{
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        text-indent: 11px;
    }

    
}