.listing-specs {
    width: calc(100% - 2px);
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.listing-specs > div {
    width: 22.9%;
}

.listing-specs input {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.country-input {
    margin-right: -1px;
    border-right: 1px solid #BABABA;
}

.new-dropdown {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 48px;
}

.new-dropdown select {
    font-size: 15px;
    height: 100%;
    color: rgb(113, 113, 113);
    width: 100%;
    text-align: center;
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    border-right: none;
    outline-color: #222222;
    position: relative;
    z-index: 2;
    /* font-weight: 100; */
}

.new-dropdown input {
    font-size: 15px;
    height: 100%;
    color: rgb(113, 113, 113);
    outline-color: #222222;
}

.new-dropdown > div {
    width: 30%;
}

.address-input {
    font-size: 15px;
    border-radius: 0 0 8px 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 36px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 11px;
    border-top: none;
}

.address-input::placeholder{
    color: transparent;
}
.address-input:focus {
    outline-color: #222222;
    position: static;
    z-index: 2;
    margin-top: 1px;
}
.address-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
input:focus ~ .address-floating-label,
input:not(:focus):valid ~ .address-floating-label{
  top: 197px;
  bottom: 10px;
  left: 37px;
  font-size: 11px;
  opacity: 1;
}
.address-floating-label {
  position: absolute;
  pointer-events: none;
  left: 37px;
  top: 207px;
  color: rgb(113, 113, 113);
  transition: 0.2s ease all;
  font-size: 15px;
  font-weight: 350;
}

.guests-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 35px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}

.guests-input::placeholder{
    color: transparent;
}
.guests-input:focus {
    outline-color: #222222;
}
.guests-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
input:focus ~ .guests-floating-label,
input:not(:focus):valid ~ .guests-floating-label{
    top: 257px;
    bottom: 10px;
    left: 37px;
    font-size: 11px;
    opacity: 1;
}
.guests-floating-label {
    position: absolute;
    pointer-events: none;
    left: 61px;
    top: 267px;
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}

.bedrooms-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 35px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}

.bedrooms-input::placeholder{
    color: transparent;
}
.bedrooms-input:focus {
    outline-color: #222222;
}
.bedrooms-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
input:focus ~ .bedrooms-floating-label,
input:not(:focus):valid ~ .bedrooms-floating-label{
    top: 257px;
    bottom: 10px;
    left: 169px;
    font-size: 11px;
    opacity: 1;
}
.bedrooms-floating-label {
    position: absolute;
    pointer-events: none;
    left: 183px;
    top: 267px;  
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}

.beds-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 35px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}

.beds-input::placeholder{
    color: transparent;
}
.beds-input:focus {
    outline-color: #222222;
}
.beds-input:focus::placeholder{
    color: rgb(113, 113, 113); 
}
input:focus ~ .beds-floating-label,
input:not(:focus):valid ~ .beds-floating-label{
    top: 257px;
    bottom: 10px;
    left: 304px;
    font-size: 11px;
    opacity: 1;
}
.beds-floating-label {
    position: absolute;
    pointer-events: none;
    left: 335px;
    top: 267px;  
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}



.bathrooms-input::placeholder{
    color: transparent;
}
.bathrooms-input:focus {
    outline-color: #222222;
}
.bathrooms-input:focus::placeholder{
    color: rgb(113, 113, 113);
}
input:focus ~ .bathrooms-floating-label,
input:not(:focus):valid ~ .bathrooms-floating-label{
    top: 257px;
    bottom: 10px;
    left: 436px;
    font-size: 11px;
    opacity: 1;
}
.bathrooms-floating-label {
    position: absolute;
    pointer-events: none;
    left: 450px;
    top: 267px;  
    color: rgb(113, 113, 113);
    transition: 0.2s ease all;
    font-size: 15px;
    font-weight: 350;
}

.bathrooms-input {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(113, 113, 113);
    width: 100%;
    height: 35px;
    border: 1px solid #bababa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 11px;
    padding-top: 10px;
}


.new-price-input:focus {
    outline-color: #222222;
}
.new-price-input::placeholder {
    color: rgb(113, 113, 113);
}
.new-price-input:focus::placeholder{
    color: transparent;
}
input:focus ~ .price-floating-label,
input:not(:focus):valid ~ .price-floating-label{
    top: 423px;
    bottom: 10px;
    left: 360px;
    font-size: 17px;
    opacity: 1;
    color: rgb(113, 113, 113);
}
.price-floating-label {
    position: absolute;
    pointer-events: none;
    left: 390px;
    top: 425px;
    color: transparent;
    transition: 0.2s ease all;
    font-size: 17px;
    font-weight: 350;
}


input:focus ~ .night-floating-label,
input:not(:focus):valid ~ .night-floating-label{
  top: 423px;
  bottom: 10px;
  left: 440px;
  font-size: 17px;
  opacity: 1;
  color: rgb(113, 113, 113);
}
.night-floating-label {
  position: absolute;
  pointer-events: none;
  left: 390px;
  top: 425px;
  color: transparent;
  transition: 0.2s ease all;
  font-size: 17px;
  font-weight: 350;
}

.new-listing-description {
    margin-top: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.new-description {
    border: 1px solid #BABABA;
    border-radius: 8px;
    resize: none;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 0;
    padding: 10px;
    color: rgb(113, 113, 113);
    outline-color: #222222;
}

#new-listing-button {
    height: 36px;
    line-height: 36px;
    margin-top: 12px;
}

.new-checkboxes {
    color: rgb(113, 113, 113);
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.coord-price {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    width: 100%;
    height: 48px;
    margin-top: 26px;
}
.coord-input-div {
    display: flex;
    width: 50%;
}
.price-input-div {
    width: 50%;
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 1px;
}

.lat-input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #BABABA;
    width: 50%;
    text-align: center;
    outline-color: #222222;
    font-size: 15px;
    color:rgb(113, 113, 113);
    padding: 0 12px;
}

.lng-input {
    width: 50%;
    border: 1px solid #BABABA;
    border-left: none;
    text-align: center;
    outline-color: #222222;
    font-size: 14px;
    color:rgb(113, 113, 113);
    padding: 0 12px;
}
.lng-input:focus {
    margin-right: 1px;
}

.new-price-input {
    width: 100%;
    border-radius: 0 8px 8px 0;
    text-align: center;
    outline-color: #222222;
    border: 1px solid #BABABA;
    border-left: none;
    vertical-align: center;
    height: 100%;
    padding: 0;
    color: rgb(113, 113, 113);
    font-size: 15px;
}

.listing-minimap {
    height: 154px;
    width: 260px;
    /* margin-top: 8px; */
    /* margin-bottom: 14px; */
}

.new-listing-top {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

#new-listing-modal{
    height: 100%;
}