.search-bar {
    position: relative;
    width: 352px;
    height: 48px;
}

.search-bar input {
    padding-left: 10px !important;
}

.css-2b097c-container {
    height: 48px;
}

.search-button {
    content: '';
    position: absolute;
    top: 8px;
    left: 312px;
    background-color: rgb(255, 56, 92);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 51;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.css-yk16xz-control {
    border-radius: 24px !important;
    height: 100% !important;
    min-height: 46px !important;
}

.css-1pahdxg-control {
    border-radius: 24px !important;
    outline: none !important;
    border: none !important;
    border-color: transparent !important;
}

.css-1pahdxg-control span {
    border: none !important;
}

.css-1wy0on6 {
    display: none !important;
}

.css-1hwfws3 {
    height: 48px !important;
}

.pac-container{
    z-index: 8000 !important;
}

.css-26l3qy-menu{
    z-index: 500 !important;
    position: relative !important;
    margin-top: -40px !important;
} 

.css-1wa3eu0-placeholder {
    margin-left: 8px !important;
    margin-top: -1px !important;
}
