#dropdown-divider {
  border-bottom: 1px #DDDDDD solid;
}

.profile-dropdown {
    position: absolute;
    display: block;
    padding: 8px 0;
    margin-top: 34px;
    top: 50%;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0 0 0 / 12%);
    min-width: 240px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 100;
    --navigation-bar-offset: 144px;
    background-color: white;
    top: 40px;
    right: 80px;
}

.profile-dropdown li {
  padding: 12px 16px;
  font-size: 14.5px;
  cursor: pointer;
  color: #222222;
  overflow: visible;
  line-height: 18px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.profile-dropdown li:first-child{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.profile-dropdown li:hover{
  background-color: #f7f7f7;
}

.profile-dropdown .dropdown-divider {
  background-color: white;
  margin: 8px 0;
  height: 1px;
  background: #DDDDDD;
  padding: 0 0 0 0;
}
.profile-dropdown .dropdown-divider:hover {
  background: #DDDDDD;
  cursor: default;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw !important;
  height: 80px;
  border-bottom: 1px #EAEAEA solid;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 80px 0 80px;
  position: relative;
}

.home-box {
  display: flex;
  height: 80px;
  align-items: center;
}

.logo-img {
  align-items: center;
  height: 50%;
  padding-right: 3px;
}

.logo-text {
  color: #FF385C;
  font-size: 23px;
  font-family: circular-standard;
  font-weight: 900;
  letter-spacing: -.7px;
}

a {
  text-decoration: none;
}

.profile-button {
  display: inline-flex;
  vertical-align: middle;
  border-radius: 21px;
  background-color: #ffffff00;
  border: 1px #DDDDDD solid;
  align-items: center;
  padding: 5px 5px 5px 11px;
  height: 42px;
  width: 77px;
  cursor: pointer;
}

.profile-button:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.profile-icon {
  padding-left: 11px;
} 
.profile-burger {
  padding-left: 1px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 19
}

.profile-avatar {
  height: 30px;
  font-weight: 30px;
  border-radius: 50%;
  margin-left: 11px;
  aspect-ratio: 1;
  object-fit: cover;
}

.profile-dropdown .dropdown-email:hover {
  background-color: white;
  cursor: default;
}

#profile-link {
  display: block;
  font-weight: 400;
}


@media (max-width: 1440px) {
  .nav-bar {
    padding: 0 40px 0 40px;
  }
}
@media (max-width: 1127px) {
  .logo-text {
    display: none;
  }
}

@media (max-width: 580px) {
  .profile-button {
    margin-left: 32px;
    margin-right: -12px;
  }
}


.alert-login {
  position: fixed;
  top: 32px;
  height: 36px;
  width: 260px;
  background: rgba(255, 56, 92, 0.95);
  font-weight: 600;
  font-size: 17px;
  color: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}